.mark-calculator {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mark-calculator-main-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px
}


.mark-calculator-number-box {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #007bff;
  border-radius: 4px;
  background-color: #f0f8ff;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}



.mark-calculator-number-input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 4px;
  outline: none;

  background-color: #f9fcff;
  color: #333;
}


.mark-calculator-main-box-input{
  margin: 40px;
}

.mark-calculator-main-button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}


.mark-calculator-main-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.mark-calculator-message-container {
  width: 400px;
  margin: 40px auto;
  padding: 25px;
  background-color: #f5faff;
  border: 2px solid #007bff;
  border-radius: 12px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.mark-calculator-message-title {
  font-size: 26px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 20px;
}

.mark-calculator-message-input {
  width: 300px;
  height: 120px;
    display: flex;
  justify-content: flex-start;

  background-color: #ffffff;
  border: 2px solid #007bff;
  border-radius: 8px;

  
}

.mark-calculator-message-container p {
  font-size: 18px;
  color: #333;
margin-top: 15px;
  font-style: italic;
}
